<h1>Movies#destroy</h1>
<p>This page is normally not rendered. A movie is deleted and the user is redirected to the index.</p>
<p><%= link_to "Back to Movies", movies_path, class: "btn primary" %></p>
