<h1 class="mb-3">Movies#update</h1>
<p>This page is normally not rendered. A movie is updated by submitting the form on <code>edit.html.erb</code>.</p>
<p><%= link_to "Back to Movies", movies_path, class: "btn btn-primary" %></p>
